<style>
body {
   background: #e66465; /* Old browsers */
   background: -moz-linear-gradient(top,  #e66465 0%, #9198e5 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top,  #e66465 0%,#9198e5 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  #e66465 0%,#9198e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e66465', endColorstr='#9198e5',GradientType=0 ); /* IE6-9 */
}
.container {
   width:500px; height: 200px;
   margin-left: auto; margin-right: auto;
}

.whitebox {
   width:500px; height: 200px;
   background: rgba(255,255,255,0.9);
   margin-top: 50px; margin-left: auto; margin-right: auto;
   padding: 30px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   border-radius: 5px;
}


button {
	background-color: #888888;
	color: #E8E8E8;
	cursor:pointer;
	width:110px;
	height:30px;
	float: right;
	font-size: 16px;
	padding-top: 6px;
	margin-left: 20px;
	border: none;
}

button:hover{
	color: #E8E8E8;
	background-color: #e66465;
}

monkey {
    -webkit-transform : rotate(66deg);
    -moz-transform : rotate(66deg);
    -ms-transform : rotate(66deg);
    -o-transform : rotate(66deg);
    transform : rotate(66deg);
}
}
</style>

<div class="container">
   <div class="monkey">
      <svg xmlns="http://www.w3.org/2000/svg" height="200" viewBox="0 -35 100 100" enable-background="new 0 0 100 100"><path d="m58.648 23.493c-1.652-2.032-3.907-3.106-6.523-3.106-3.237 0-5.196 1.348-6.269 2.48-1.32 1.392-2.076 3.297-2.076 5.229 0 3.409 2.24 5.885 5.328 5.885 1.498 0 2.977-.711 3.955-1.902 1.031-1.258 1.408-2.908 1.059-4.646-.203-1.021-1.199-1.683-2.217-1.479-1.02.204-1.682 1.195-1.477 2.217.125.629.031 1.141-.279 1.52-.318.387-.76.524-1.041.524-1.486 0-1.563-1.764-1.563-2.118 0-1.463.965-3.941 4.579-3.941 1.485 0 2.663.563 3.601 1.717 3.065 3.771 2.963 12.681 1.567 19.363-1.556 7.455-3.771 9.885-5.358 10.609-.835.382-1.784.42-2.899.112.343-1.015.555-2.173.63-3.487.687-12.018-5.338-18.246-10.896-21.425.664-1.28 1.074-2.657 1.142-4.103 2.723-.51 4.782-2.89 4.782-5.752 0-2.92-2.144-5.334-4.945-5.777-.7-4.788-3.533-8.116-8.307-10.01.813-.43 1.342-.646 1.342-.646-2.305-.811-4.303-1.283-6.033-1.498.912-.685 1.52-.945 1.52-.945-14.059-1.984-20.988 5.834-21.424 13.113-2.753.483-4.846 2.876-4.846 5.762 0 2.862 2.059 5.242 4.779 5.752.247 5.255 4.794 9.675 11.067 11.34l-5.718 18.359c-1.36.485-2.723 1.781-3.598 2.421-.725.528-4.53.645-3.281 2.939h8.25c.88-.288 1.436-.784 1.743-1.365l.001.001.043-.083c.009-.018.02-.034.028-.053l10.206-19.424c.405.144.851.281 1.353.412-3.703 1.351-4.716 9.021-3.608 16.344-2.487.94-8.187 1.485-6.745 4.168h11.885c.649-.881.695-1.777.36-2.543-.682-4.666.521-6.988.521-6.988-.349 4.687.254 9.531 8.375 9.531 4.17 0 7.303-.816 9.326-2.744.971.367 2.153.676 3.437.676.985 0 2.03-.182 3.077-.662 3.503-1.603 5.951-5.942 7.479-13.268 1.507-7.209 1.798-17.43-2.332-22.509m-18.721-5.936c1.567.477 2.715 1.912 2.715 3.633 0 1.772-1.219 3.25-2.861 3.677-.182-1.024-.514-2.014-1.002-2.946.709-1.357 1.113-2.826 1.148-4.364m-25.447 42.322c-.146.51-.532.887-1.151 1.121h-7.195c.349-.253 1.238-.498 1.611-.6.579-.16 1.037-.286 1.376-.533.229-.168.493-.38.78-.612.891-.723 2.238-1.815 3.201-1.815.229 0 .533.053.881.465.473.562.673 1.356.497 1.974m-7.571-35.012c-1.644-.427-2.862-1.904-2.862-3.678 0-1.721 1.147-3.158 2.717-3.633.035 1.538.438 3.008 1.148 4.364-.489.934-.82 1.922-1.003 2.947m16.434 13.137c-5.758 0-10.426-3.507-10.426-7.834 0-1.477.553-2.852 1.498-4.031-3.241-1.963-5.315-4.967-5.315-8.339 0-12.049 14.245-4.373 14.245-4.373s14.246-7.676 14.246 4.373c0 3.371-2.076 6.376-5.32 8.339.945 1.178 1.5 2.555 1.5 4.031 0 4.327-4.669 7.834-10.428 7.834m4.496 22.996h-10.469c.48-.65 2.662-1.22 3.992-1.566.93-.242 1.808-.472 2.478-.749.435-.181.892-.272 1.357-.272 1.136 0 2.214.563 2.62 1.367.201.395.207.804.022 1.22m.332-20.232c-.904-.191-1.618-.389-2.185-.58l.765-1.456c.818-.129 1.609-.312 2.378-.528 6.276 1.531 8.147 7.737 8.677 11.961-1.379-3.519-4.203-8.244-9.635-9.397"/><ellipse cx="24.872" cy="25.3" rx=".711" ry="1.463"/><ellipse cx="21.817" cy="25.3" rx=".711" ry="1.463"/><ellipse cx="29.524" cy="20.319" rx="2.49" ry="3.201"/><ellipse cx="17.17" cy="20.318" rx="2.491" ry="3.2"/><path d="m16.282 30.598c-.441 1.077 2.654 3.26 7.064 3.254 4.408.008 7.504-2.176 7.063-3.254-.422-1.116-13.705-1.118-14.127 0"/></svg>
   </div>
   <div class="whitebox">
      <h1>LOGIN</h1>
         <input id="login" type="text" name="u" placeholder="Username" required="required" />
         <input  id="password" type="password" name="p" placeholder="Password" required="required" />
         <button id="submit" type="submit">Connection</button>
      <div id="message"></div>
   </div>
</div>
